/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    font-size: 16pt;
    width: auto;
    padding: 2%;
    background-image: url("Bckg.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header {
    margin-bottom: 2%;
}

h1 {
    backdrop-filter: blur(5px);
    max-width: 100%;
    padding: 2%;
    background-color: rgba(123, 157, 196, 0.425);
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    color: #f5f5f5;
}

h2 {
    backdrop-filter: blur(5px);
    font-family: 'Arial', sans-serif;
    color: #f5f5f5;
}

.character-abilities {
    justify-content: center;
}

.character ul {
    list-style-image: url("point.png");
    color: #f0f8ff;
    margin-top: 1%;
}

.abilities-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.character {
    margin-bottom: 2%;
    padding: 2%;
    background-color: rgba(123, 157, 196, 0.425);
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-image {
    backdrop-filter: blur(5px);
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    max-height: 100%; /* Исправлено: изменил значение height на max-height */
    align-items: center;
    justify-content: center;
}

/* Стили для круглых изображений артефактов */
.artifact-image {
    max-width: 100%; /* Максимальная ширина равна размеру контейнера */
    width: auto;
    height: 150px; /* Автоматическая высота для сохранения пропорций */
    object-fit: cover; /* Обрезаем или масштабируем изображение, чтобы оно полностью заполнило заданные размеры */
    vertical-align: middle;
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 5px; /* Заменил 5% на 5px */
}

.artifact-element div {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.artifacts-list {
    color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artifact-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 15px;
}

.character h2 {
    background-color: #94b4a536;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    max-width: 50%;
    padding: 0.1%;
    font-size: 1.5em;
    color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.character h3 {
    background-color: #949bb436;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    max-width: 50%;
    margin-top: 2%;
    font-size: 1.2em;
    color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.character p {
    max-width: 50%;
    color: #f0f8ff;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 8px;
    padding-top: 2px;
    border-top: 1px solid #ccc;
    color: #f0f8ff;
}

footer a {
    color: #f0f8ff;
}

/* Добавление медиа-запросов для адаптивности на разных устройствах */

@media screen and (max-width: 768px) {
    .character {
        padding: 8px;
    }
    .character img {
        border-radius: 8px;
    }
    h1 {
        font-size: 1.2em;
    }
    .character h2 {
        font-size: 1.2em;
    }
    .character h3 {
        font-size: 1em;
    }
    .character p {
        font-size: 0.9em;
    }
    .character ul li {
        font-size: 0.9em;
    }
    .artifact-image{
        width: 100px;
        height: auto;
    }
}
